<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div>
          <div>
            <img src="./assets/images/logo.png" alt="" />
          </div>
          <p class="company-info">
            We make technology produce productive, adaptable and sustainable
            business experiences.
          </p>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="list mt-sm-30">
          <h4 class="title">Company</h4>
          <ul>
            <li><a>About</a></li>
            <li><a>Careers</a></li>
            <li><a>Mobile</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="list mt-md-30">
          <h4 class="title">Contact</h4>
          <ul>
            <li><a>Help/FAQ</a></li>
            <li><a>Press</a></li>
            <li><a>Affilates</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="list mt-lg-30">
          <h4 class="title">Media</h4>
          <ul>
            <li><a>News</a></li>
            <li><a>Photo</a></li>
            <li><a>Video</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="mt-lg-30">
          <div class="social-links">
            <a><i class="fa-brands fa-facebook-f"></i></a>
            <a><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-twitter"></i></a>
          </div>
          <div class="download">
            <h3 class="title">Discover our app</h3>
            <div class="links">
              <a class="link">
                <i class="fa-brands fa-google-play"></i>
                <div class="text">
                  <span>GET IT ON</span>
                  <span>GOOGLE PLAY</span>
                </div>
              </a>
              <a class="link">
                <i class="fa-brands fa-apple"></i>
                <div class="text">
                  <span>Available on the</span>
                  <span>Apple Store</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="rights">All rights reserved@Linkdevelopment.com</p>
  </div>
</div>
