// Transition
@mixin transition($properties, $duration, $timingFunction) {
  -webkit-transition: $properties $duration $timingFunction;
  -o-transition: $properties $duration $timingFunction;
  transition: $properties $duration $timingFunction;
}
