/* Colors */
$strong-iris: #5e6282;
$reversed-grey: #080809;
$sharp-grey: #cacad1;
$cga-pink: #f215b6;
$mazarine-blue: #253776;
$deadly-depths: #14183e;
$aria: #e3e3e3;
$orient: #24607a;
$spiro-disco-ball: #13beff;
$dugong: #707070;
$orange-popsicle: #ff7c16;
$fly-by-night: #181e4b;
$lust: #e72228;

/* Fonts */
$mainFont: "Poppins";
